
.rodape {
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    height: 8vh;
    /* padding: .8em; */
}

.rodape h2 {
    color: var(--branco);
    font-size: 1.1em;
}