:root {
    --fonte: 'Montserrat', sans-serif;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza: #E2E2E2;
}

body {
    font-family: var(--fonte);
    background-color: var(--branco);
    margin: 0;
    box-sizing: border-box;
}